name: Build publish debian packages

on:
  release:
    types: [published]
  pull_request:
    branches:
      - '*'
    paths:
      # Only build the package when the px4_msgs version is updated, as the
      # configured px4_msgs package is typically older, which makes the build
      # fail for most PRs.
      - 'px4_ros2_cpp/rosdep-*.yaml'

jobs:
  build:
    name: Build debian packages
    strategy:
      fail-fast: false
      matrix:
        platform:
          - platform: linux/arm64
            runner: "${{ vars.RUNSON_CI_BUILDER_DEFAULT_ARM64 }}"
          - platform: linux/amd64
            runner: "${{ vars.RUNSON_CI_BUILDER_DEFAULT_X64 }}"
        distro:
          - ubuntu: jammy
            ros2: humble
          - ubuntu: noble
            ros2: jazzy
          - ubuntu: noble
            ros2: rolling

    uses: Auterion/ros-debian-workflow/.github/workflows/build-ros-debian.yml@main
    with:
      platform: ${{ matrix.platform.platform }}
      ubuntu-distro: ${{ matrix.distro.ubuntu }}
      ros2-distro: ${{ matrix.distro.ros2 }}
      runner: ${{ matrix.platform.runner }}
      source-prefix: px4_ros2_cpp
    secrets: inherit
